DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_id/your_webhook_token
SAFEGOLD_POST_RATE_URL=https://www.safegold.com/YnV5LXJhdGU=
SAFEGOLD_TID_URL=https://www.safegold.com/get-tid
SAFEGOLD_CSRF=
SAFEGOLD_UPI=0
TRACK_NOTIFY_TOKEN=replace_with_long_random_secret
TRACK_NOTIFY_ALLOW_IPS=YOUR_PUBLIC_IP
TRUST_PROXY_HEADERS=false
TRUSTED_PROXY_IPS=
